# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.paginated_rate_limit_endpoint_sets import PaginatedRateLimitEndpointSets
from ..types.rate_limit_endpoint_set_response import RateLimitEndpointSetResponse
from .raw_client import AsyncRawRateLimitingClient, RawRateLimitingClient


class RateLimitingClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawRateLimitingClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawRateLimitingClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawRateLimitingClient
        """
        return self._raw_client

    def list_rate_limits(
        self,
        *,
        items_per_page: typing.Optional[int] = None,
        page_num: typing.Optional[int] = None,
        group_id: typing.Optional[str] = None,
        org_id: typing.Optional[str] = None,
        user_id: typing.Optional[str] = None,
        ip_address: typing.Optional[str] = None,
        name: typing.Optional[str] = None,
        endpoint_path: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PaginatedRateLimitEndpointSets:
        """
        Get all rate limits for all v2 Atlas Administration API endpoint sets.

        Parameters
        ----------
        items_per_page : typing.Optional[int]
            Number of items that the response returns per page.

        page_num : typing.Optional[int]
            Number of the page that displays the current set of the total objects that the response returns.

        group_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Project to request rate limits for. When this parameter is provided, only group scoped endpoint sets are returned and the limits returned are applicable to the specified project. The requesting user must have the Project Read Only role for the specified project.

        org_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Organization to request rate limits for. When this parameter is provided, only organization scoped endpoint sets are returned and the limits returned are applicable to the specified organization. The requesting user must have the Organization Read Only role for the specified organization.

        user_id : typing.Optional[str]
            A string that identifies the Atlas user to request rate limits for. The ID can for example be the Service Account Client ID or the API Public Key. When this parameter is provided, only user scoped endpoint sets are returned and the limits returned are applicable to the specified user. The requesting user must be the same as the specified user.

        ip_address : typing.Optional[str]
            An IP address to request rate limits for. When this parameter is provided, only IP scoped endpoint sets are returned and the limits returned are applicable to the specified IP address. The requesting user must have the same IP address as the one provided in the request.

        name : typing.Optional[str]
            Filters the returned endpoint sets by the provided endpoint set name. Multiple names may be provided, for example `/rateLimits?name=Name1&name=Name2`. For names that use spaces, replace the space with its URL-encoded value (`%20`).

        endpoint_path : typing.Optional[str]
            Filters the returned endpoint sets by the provided endpoint path. Multiple paths may be provided, for example `/rateLimits?endpointPath=%2Fapi%2Fatlas%2Fv2%2Fclusters&endpointPath=%2Fapi%2Fatlas%2Fv2%2Fgroups%2F%7BgroupId%7D%2F`. Replace `/`, `{` and `}` with their URL-encoded values (`%2F`, `%7B` and `%7D` respectively).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PaginatedRateLimitEndpointSets
            OK

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.rate_limiting.list_rate_limits(
            group_id="32b6e34b3d91647abb20e7b8",
            org_id="32b6e34b3d91647abb20e7b8",
            user_id="mdb_sa_id_1234567890abcdef12345678",
            ip_address="127.0.0.1",
            name="Rate Limits Inspection",
            endpoint_path="/api/atlas/v2/clusters",
        )
        """
        _response = self._raw_client.list_rate_limits(
            items_per_page=items_per_page,
            page_num=page_num,
            group_id=group_id,
            org_id=org_id,
            user_id=user_id,
            ip_address=ip_address,
            name=name,
            endpoint_path=endpoint_path,
            request_options=request_options,
        )
        return _response.data

    def get_rate_limit(
        self,
        endpoint_set_id: str,
        *,
        group_id: typing.Optional[str] = None,
        org_id: typing.Optional[str] = None,
        user_id: typing.Optional[str] = None,
        ip_address: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> RateLimitEndpointSetResponse:
        """
        Get one rate limit endpoint set.

        Parameters
        ----------
        endpoint_set_id : str
            The ID of the rate limit endpoint set.

        group_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Project to request rate limits for. When this parameter is provided, the limits returned are applicable to the specified project. The requesting user must have the Project Read Only role for the specified project.

        org_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Organization to request rate limits for. When this parameter is provided, the limits returned are applicable to the specified organization. The requesting user must have the Organization Read Only role for the specified organization.

        user_id : typing.Optional[str]
            A string that identifies the Atlas user to request rate limits for. The ID can for example be the Service Account Client ID or the API Public Key. When this parameter is provided, the limits returned are applicable to the specified  user. The requesting user must be the same as the specified user.

        ip_address : typing.Optional[str]
            An IP address to request rate limits for. When this parameter is provided, the limits returned are applicable to the specified IP address. The requesting user must have the same IP address as the one provided in the request.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RateLimitEndpointSetResponse
            OK

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.rate_limiting.get_rate_limit(
            endpoint_set_id="rateLimitsInspection_group",
            group_id="32b6e34b3d91647abb20e7b8",
            org_id="32b6e34b3d91647abb20e7b8",
            user_id="mdb_sa_id_1234567890abcdef12345678",
            ip_address="127.0.0.1",
        )
        """
        _response = self._raw_client.get_rate_limit(
            endpoint_set_id,
            group_id=group_id,
            org_id=org_id,
            user_id=user_id,
            ip_address=ip_address,
            request_options=request_options,
        )
        return _response.data


class AsyncRateLimitingClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawRateLimitingClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawRateLimitingClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawRateLimitingClient
        """
        return self._raw_client

    async def list_rate_limits(
        self,
        *,
        items_per_page: typing.Optional[int] = None,
        page_num: typing.Optional[int] = None,
        group_id: typing.Optional[str] = None,
        org_id: typing.Optional[str] = None,
        user_id: typing.Optional[str] = None,
        ip_address: typing.Optional[str] = None,
        name: typing.Optional[str] = None,
        endpoint_path: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> PaginatedRateLimitEndpointSets:
        """
        Get all rate limits for all v2 Atlas Administration API endpoint sets.

        Parameters
        ----------
        items_per_page : typing.Optional[int]
            Number of items that the response returns per page.

        page_num : typing.Optional[int]
            Number of the page that displays the current set of the total objects that the response returns.

        group_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Project to request rate limits for. When this parameter is provided, only group scoped endpoint sets are returned and the limits returned are applicable to the specified project. The requesting user must have the Project Read Only role for the specified project.

        org_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Organization to request rate limits for. When this parameter is provided, only organization scoped endpoint sets are returned and the limits returned are applicable to the specified organization. The requesting user must have the Organization Read Only role for the specified organization.

        user_id : typing.Optional[str]
            A string that identifies the Atlas user to request rate limits for. The ID can for example be the Service Account Client ID or the API Public Key. When this parameter is provided, only user scoped endpoint sets are returned and the limits returned are applicable to the specified user. The requesting user must be the same as the specified user.

        ip_address : typing.Optional[str]
            An IP address to request rate limits for. When this parameter is provided, only IP scoped endpoint sets are returned and the limits returned are applicable to the specified IP address. The requesting user must have the same IP address as the one provided in the request.

        name : typing.Optional[str]
            Filters the returned endpoint sets by the provided endpoint set name. Multiple names may be provided, for example `/rateLimits?name=Name1&name=Name2`. For names that use spaces, replace the space with its URL-encoded value (`%20`).

        endpoint_path : typing.Optional[str]
            Filters the returned endpoint sets by the provided endpoint path. Multiple paths may be provided, for example `/rateLimits?endpointPath=%2Fapi%2Fatlas%2Fv2%2Fclusters&endpointPath=%2Fapi%2Fatlas%2Fv2%2Fgroups%2F%7BgroupId%7D%2F`. Replace `/`, `{` and `}` with their URL-encoded values (`%2F`, `%7B` and `%7D` respectively).

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        PaginatedRateLimitEndpointSets
            OK

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.rate_limiting.list_rate_limits(
                group_id="32b6e34b3d91647abb20e7b8",
                org_id="32b6e34b3d91647abb20e7b8",
                user_id="mdb_sa_id_1234567890abcdef12345678",
                ip_address="127.0.0.1",
                name="Rate Limits Inspection",
                endpoint_path="/api/atlas/v2/clusters",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list_rate_limits(
            items_per_page=items_per_page,
            page_num=page_num,
            group_id=group_id,
            org_id=org_id,
            user_id=user_id,
            ip_address=ip_address,
            name=name,
            endpoint_path=endpoint_path,
            request_options=request_options,
        )
        return _response.data

    async def get_rate_limit(
        self,
        endpoint_set_id: str,
        *,
        group_id: typing.Optional[str] = None,
        org_id: typing.Optional[str] = None,
        user_id: typing.Optional[str] = None,
        ip_address: typing.Optional[str] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> RateLimitEndpointSetResponse:
        """
        Get one rate limit endpoint set.

        Parameters
        ----------
        endpoint_set_id : str
            The ID of the rate limit endpoint set.

        group_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Project to request rate limits for. When this parameter is provided, the limits returned are applicable to the specified project. The requesting user must have the Project Read Only role for the specified project.

        org_id : typing.Optional[str]
            Unique 24-hexadecimal digit string that identifies the Atlas Organization to request rate limits for. When this parameter is provided, the limits returned are applicable to the specified organization. The requesting user must have the Organization Read Only role for the specified organization.

        user_id : typing.Optional[str]
            A string that identifies the Atlas user to request rate limits for. The ID can for example be the Service Account Client ID or the API Public Key. When this parameter is provided, the limits returned are applicable to the specified  user. The requesting user must be the same as the specified user.

        ip_address : typing.Optional[str]
            An IP address to request rate limits for. When this parameter is provided, the limits returned are applicable to the specified IP address. The requesting user must have the same IP address as the one provided in the request.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        RateLimitEndpointSetResponse
            OK

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.rate_limiting.get_rate_limit(
                endpoint_set_id="rateLimitsInspection_group",
                group_id="32b6e34b3d91647abb20e7b8",
                org_id="32b6e34b3d91647abb20e7b8",
                user_id="mdb_sa_id_1234567890abcdef12345678",
                ip_address="127.0.0.1",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_rate_limit(
            endpoint_set_id,
            group_id=group_id,
            org_id=org_id,
            user_id=user_id,
            ip_address=ip_address,
            request_options=request_options,
        )
        return _response.data
