# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.request_options import RequestOptions
from ..types.group_maintenance_window import GroupMaintenanceWindow
from ..types.protected_hours import ProtectedHours
from .raw_client import AsyncRawMaintenanceWindowsClient, RawMaintenanceWindowsClient

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class MaintenanceWindowsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawMaintenanceWindowsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawMaintenanceWindowsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawMaintenanceWindowsClient
        """
        return self._raw_client

    def get_maintenance_window(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GroupMaintenanceWindow:
        """
        Returns the maintenance window for the specified project. MongoDB Cloud starts those maintenance activities when needed. You can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GroupMaintenanceWindow
            OK

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.maintenance_windows.get_maintenance_window(
            group_id="32b6e34b3d91647abb20e7b8",
        )
        """
        _response = self._raw_client.get_maintenance_window(group_id, request_options=request_options)
        return _response.data

    def reset_maintenance_window(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Any:
        """
        Resets the maintenance window for the specified project. To use this resource, the requesting Service Account or API Key must have the Project Owner role. Urgent maintenance activities such as security patches can't wait for your chosen window. MongoDB Cloud starts those maintenance activities when needed. After you schedule maintenance for your cluster, you can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            This endpoint does not return a response body.

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.maintenance_windows.reset_maintenance_window(
            group_id="32b6e34b3d91647abb20e7b8",
        )
        """
        _response = self._raw_client.reset_maintenance_window(group_id, request_options=request_options)
        return _response.data

    def update_maintenance_window(
        self,
        group_id: str,
        *,
        day_of_week: int,
        auto_defer_once_enabled: typing.Optional[bool] = OMIT,
        hour_of_day: typing.Optional[int] = OMIT,
        number_of_deferrals: typing.Optional[int] = OMIT,
        protected_hours: typing.Optional[ProtectedHours] = OMIT,
        start_asap: typing.Optional[bool] = OMIT,
        time_zone_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Any:
        """
        Updates the maintenance window for the specified project. Urgent maintenance activities such as security patches can't wait for your chosen window. MongoDB Cloud starts those maintenance activities when needed. After you schedule maintenance for your cluster, you can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. Updating the maintenance window will reset any maintenance deferrals for this project. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        day_of_week : int
            One-based integer that represents the day of the week that the maintenance window starts.

            - `1`: Sunday.
            - `2`: Monday.
            - `3`: Tuesday.
            - `4`: Wednesday.
            - `5`: Thursday.
            - `6`: Friday.
            - `7`: Saturday.

        auto_defer_once_enabled : typing.Optional[bool]
            Flag that indicates whether MongoDB Cloud should defer all maintenance windows for one week after you enable them. This setting controls the same underlying auto-deferral feature as the `/maintenanceWindow/autoDefer` endpoint. Use either this field (to set a specific value) or that endpoint (to toggle the current value). For most use cases, this field in the PATCH request is preferred because it allows setting an explicit value rather than toggling.

        hour_of_day : typing.Optional[int]
            Zero-based integer that represents the hour of the of the day that the maintenance window starts according to a 24-hour clock. Use `0` for midnight and `12` for noon.

        number_of_deferrals : typing.Optional[int]
            Number of times the current maintenance event for this project has been deferred.

        protected_hours : typing.Optional[ProtectedHours]

        start_asap : typing.Optional[bool]
            Flag that indicates whether MongoDB Cloud starts the maintenance window immediately upon receiving this request. To start the maintenance window immediately for your project, MongoDB Cloud must have maintenance scheduled and you must set a maintenance window. This flag resets to `false` after MongoDB Cloud completes maintenance.

        time_zone_id : typing.Optional[str]
            Identifier for the current time zone of the maintenance window. This can only be updated via the Project Settings UI.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            OK

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.maintenance_windows.update_maintenance_window(
            group_id="32b6e34b3d91647abb20e7b8",
            day_of_week=1,
        )
        """
        _response = self._raw_client.update_maintenance_window(
            group_id,
            day_of_week=day_of_week,
            auto_defer_once_enabled=auto_defer_once_enabled,
            hour_of_day=hour_of_day,
            number_of_deferrals=number_of_deferrals,
            protected_hours=protected_hours,
            start_asap=start_asap,
            time_zone_id=time_zone_id,
            request_options=request_options,
        )
        return _response.data

    def toggle_maintenance_auto_defer(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Any:
        """
        Toggles automatic deferral of the maintenance window for the specified project. When automatic deferral is enabled, all maintenance windows are deferred for one week. This endpoint controls the same underlying feature as the `autoDeferOnceEnabled` field in the PATCH `/maintenanceWindow` endpoint. The difference is that this endpoint toggles the current value (switches from enabled to disabled or vice versa), while the `autoDeferOnceEnabled` field allows you to set a specific value. For most use cases, the PATCH endpoint with `autoDeferOnceEnabled` is recommended because it allows setting an explicit value rather than toggling. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            OK

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.maintenance_windows.toggle_maintenance_auto_defer(
            group_id="32b6e34b3d91647abb20e7b8",
        )
        """
        _response = self._raw_client.toggle_maintenance_auto_defer(group_id, request_options=request_options)
        return _response.data

    def defer_maintenance_window(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Any:
        """
        Defers the maintenance window for the specified project. Urgent maintenance activities such as security patches can't wait for your chosen window. MongoDB Cloud starts those maintenance activities when needed. After you schedule maintenance for your cluster, you can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            OK

        Examples
        --------
        from atlas_sdk import AtlasClient

        client = AtlasClient(
            token="YOUR_TOKEN",
        )
        client.maintenance_windows.defer_maintenance_window(
            group_id="32b6e34b3d91647abb20e7b8",
        )
        """
        _response = self._raw_client.defer_maintenance_window(group_id, request_options=request_options)
        return _response.data


class AsyncMaintenanceWindowsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawMaintenanceWindowsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawMaintenanceWindowsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawMaintenanceWindowsClient
        """
        return self._raw_client

    async def get_maintenance_window(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> GroupMaintenanceWindow:
        """
        Returns the maintenance window for the specified project. MongoDB Cloud starts those maintenance activities when needed. You can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        GroupMaintenanceWindow
            OK

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.maintenance_windows.get_maintenance_window(
                group_id="32b6e34b3d91647abb20e7b8",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.get_maintenance_window(group_id, request_options=request_options)
        return _response.data

    async def reset_maintenance_window(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Any:
        """
        Resets the maintenance window for the specified project. To use this resource, the requesting Service Account or API Key must have the Project Owner role. Urgent maintenance activities such as security patches can't wait for your chosen window. MongoDB Cloud starts those maintenance activities when needed. After you schedule maintenance for your cluster, you can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            This endpoint does not return a response body.

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.maintenance_windows.reset_maintenance_window(
                group_id="32b6e34b3d91647abb20e7b8",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.reset_maintenance_window(group_id, request_options=request_options)
        return _response.data

    async def update_maintenance_window(
        self,
        group_id: str,
        *,
        day_of_week: int,
        auto_defer_once_enabled: typing.Optional[bool] = OMIT,
        hour_of_day: typing.Optional[int] = OMIT,
        number_of_deferrals: typing.Optional[int] = OMIT,
        protected_hours: typing.Optional[ProtectedHours] = OMIT,
        start_asap: typing.Optional[bool] = OMIT,
        time_zone_id: typing.Optional[str] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Any:
        """
        Updates the maintenance window for the specified project. Urgent maintenance activities such as security patches can't wait for your chosen window. MongoDB Cloud starts those maintenance activities when needed. After you schedule maintenance for your cluster, you can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. Updating the maintenance window will reset any maintenance deferrals for this project. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        day_of_week : int
            One-based integer that represents the day of the week that the maintenance window starts.

            - `1`: Sunday.
            - `2`: Monday.
            - `3`: Tuesday.
            - `4`: Wednesday.
            - `5`: Thursday.
            - `6`: Friday.
            - `7`: Saturday.

        auto_defer_once_enabled : typing.Optional[bool]
            Flag that indicates whether MongoDB Cloud should defer all maintenance windows for one week after you enable them. This setting controls the same underlying auto-deferral feature as the `/maintenanceWindow/autoDefer` endpoint. Use either this field (to set a specific value) or that endpoint (to toggle the current value). For most use cases, this field in the PATCH request is preferred because it allows setting an explicit value rather than toggling.

        hour_of_day : typing.Optional[int]
            Zero-based integer that represents the hour of the of the day that the maintenance window starts according to a 24-hour clock. Use `0` for midnight and `12` for noon.

        number_of_deferrals : typing.Optional[int]
            Number of times the current maintenance event for this project has been deferred.

        protected_hours : typing.Optional[ProtectedHours]

        start_asap : typing.Optional[bool]
            Flag that indicates whether MongoDB Cloud starts the maintenance window immediately upon receiving this request. To start the maintenance window immediately for your project, MongoDB Cloud must have maintenance scheduled and you must set a maintenance window. This flag resets to `false` after MongoDB Cloud completes maintenance.

        time_zone_id : typing.Optional[str]
            Identifier for the current time zone of the maintenance window. This can only be updated via the Project Settings UI.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            OK

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.maintenance_windows.update_maintenance_window(
                group_id="32b6e34b3d91647abb20e7b8",
                day_of_week=1,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_maintenance_window(
            group_id,
            day_of_week=day_of_week,
            auto_defer_once_enabled=auto_defer_once_enabled,
            hour_of_day=hour_of_day,
            number_of_deferrals=number_of_deferrals,
            protected_hours=protected_hours,
            start_asap=start_asap,
            time_zone_id=time_zone_id,
            request_options=request_options,
        )
        return _response.data

    async def toggle_maintenance_auto_defer(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Any:
        """
        Toggles automatic deferral of the maintenance window for the specified project. When automatic deferral is enabled, all maintenance windows are deferred for one week. This endpoint controls the same underlying feature as the `autoDeferOnceEnabled` field in the PATCH `/maintenanceWindow` endpoint. The difference is that this endpoint toggles the current value (switches from enabled to disabled or vice versa), while the `autoDeferOnceEnabled` field allows you to set a specific value. For most use cases, the PATCH endpoint with `autoDeferOnceEnabled` is recommended because it allows setting an explicit value rather than toggling. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            OK

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.maintenance_windows.toggle_maintenance_auto_defer(
                group_id="32b6e34b3d91647abb20e7b8",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.toggle_maintenance_auto_defer(group_id, request_options=request_options)
        return _response.data

    async def defer_maintenance_window(
        self, group_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Any:
        """
        Defers the maintenance window for the specified project. Urgent maintenance activities such as security patches can't wait for your chosen window. MongoDB Cloud starts those maintenance activities when needed. After you schedule maintenance for your cluster, you can't change your maintenance window until the current maintenance efforts complete. The maintenance procedure that MongoDB Cloud performs requires at least one replica set election during the maintenance window per replica set. Maintenance always begins as close to the scheduled hour as possible, but in-progress cluster updates or unexpected system issues could delay the start time. To use this resource, the requesting Service Account or API Key must have the Project Owner role.

        Parameters
        ----------
        group_id : str
            Unique 24-hexadecimal digit string that identifies your project. Use the [/groups](#tag/Projects/operation/listProjects) endpoint to retrieve all projects to which the authenticated user has access.

            **NOTE**: Groups and projects are synonymous terms. Your group id is the same as your project id. For existing groups, your group/project id remains the same. The resource and corresponding endpoints use the term groups.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        typing.Any
            OK

        Examples
        --------
        import asyncio

        from atlas_sdk import AsyncAtlasClient

        client = AsyncAtlasClient(
            token="YOUR_TOKEN",
        )


        async def main() -> None:
            await client.maintenance_windows.defer_maintenance_window(
                group_id="32b6e34b3d91647abb20e7b8",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.defer_maintenance_window(group_id, request_options=request_options)
        return _response.data
